body {
	padding:0;
	margin:0 auto;
	/*
	background-color: #000000;
	*/
}

.main-container {
	display: block;
	margin: 0 auto;
	position: relative;
	scale: 0.8;
	}


.linhas img{
	display: flex;
	margin: 0 auto;
	width: 200px;
	padding: 30px;
}

/*--------BELLATRIX-----------*/
.container-bellatrix{
	margin-top:-350px;
	margin-left: 86px;
}
.bellatrix {
	margin: 0 auto;
	display: table;
	transition: all 0.2s ease-in;
}

.bellatrix img {
	width: 140px;
	cursor: pointer;
}

.bellatrix:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);
}


/*---------------ALUDRA-----------*/
.container-aludra {
	margin-left: 178px;
}
.aludra {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;	
}

.aludra img{
    width: 140px;
	cursor: pointer;

}

.aludra:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*-----------SIRIUS--------------*/
.container-sirius {
	margin-top: -200px;
	margin-left: -188px;
}

.sirius {
	
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}
.sirius img{
    width: 140px;
	cursor: pointer;
}

.sirius:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*----------ANTARES----------*/

.container-antares {
	margin-left: -320px;
	margin-top: 15px;
}
.antares {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}
.antares img{
    width: 150px;
	cursor: pointer;

}

.antares:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*-------------VEGA-------------*/
.container-vega {
	margin-top: 10px;
	margin-left:-218px;
	
}


.vega {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}
.vega img{
    width: 140px;
	cursor: pointer;

}

.vega:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*-*---------ELECTRA--------------*/

.container-electra {
	margin-left:300px;
	margin-top: 10px;
}

.electra {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}
.electra img{
    width: 140px;
	cursor: pointer;

}

.electra:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*-------------ALTAIR----------------*/
.container-altair {
	margin-left: 200px;
	margin-top: 20px;
}

.altair {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}

.altair img{
    width: 140px;
	cursor: pointer;


}

.altair:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*------------------TAURI------------------*/

.container-tauri {
	margin-left: -65px;
	margin-top: -140px;
}

.tauri {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}

.tauri img{
    width: 140px;
	cursor: pointer;

}

.tauri:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*---------------POLARIS-----------------------*/
.container-polaris {
	margin-left: 80px;
	margin-top: 80px;
}

.polaris {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}

.polaris img{
    width: 140px;
	cursor: pointer;

}

.polaris:hover {
	scale: 1.1;
	filter: drop-shadow(0px 0px 10px white);

}

/*--------------------DENEB-------------------*/
.container-deneb {
	margin-left: -80px; 
	margin-top: -478px;
	
}

.deneb {
	margin: 0 auto;
    display: table;
	transition: all 0.2s ease-in;
}
.deneb img{
    width: 140px;
	cursor: pointer;

}

.deneb:hover {
	scale: 1.1;
	scale: (0.9);
	filter: drop-shadow(0px 0px 10px white);

}
