



/*

@media (max-width: 399px) {
  .section-main .main-container .senior-logo .content-main-infografico {
    position: initial;
    bottom: initial;
    right: initial;
    margin: 0 auto; }
  .span_h1 {
    margin: 50px auto 0px auto !important;
    padding: 20px 32px 35px 76px !important; }
  .cloud-title {
    position: initial !important;
    top: initial !important;
    margin: 100px auto 40px; }
  .senior-logo-modal {
    display: block;
    position: absolute;
    top: 35px;
    right: 65px;
    height: 42px;
    width: 130px; }
    .senior-logo-modal img {
      filter: grayscale(1) brightness(10); }
  .section-desktop {
    display: none !important; }
  .section-main {
    height: initial !important;
    padding-bottom: 50px; }
  .section-mobile {
    display: block !important; }
  .main-container {
    width: 100% !important;
    max-width: 550px !important;
    margin: 0 auto !important;
    display: flex;
    flex-direction: column;
    row-gap: 30px; }
  .content-icon-mobile.chao-de-fabrica {
    margin: 50px 0 0 0 !important; }
  .content-icon-mobile {
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; }
    .content-icon-mobile .icon-mobile {
      width: 100% !important;
      padding: 15px !important;
      border-radius: 10px !important;
      margin: 0 30px !important; }
      .content-icon-mobile .icon-mobile .link-open-icons {
        display: flex !important;
        align-items: center !important;
        text-decoration: none !important; }
        .content-icon-mobile .icon-mobile .link-open-icons .icon-container {
          margin-right: 40px !important; }
		  
          .content-icon-mobile .icon-mobile .link-open-icons .icon-container img {
            max-width: 150px !important;
            width: 100% !important; }
      .content-icon-mobile .icon-mobile p {
        font-size: 16px !important;
        color: #848484 !important;
        font-weight: bold; }
  .icon-mobile {
    border: 2px solid #5dd6da; } }

@media (max-width: 620px) {
  .senior-logo-modal {
    margin: 0 auto 20px;
    position: initial !important;
    top: initial !important;
    right: initial !important; } }

@media (max-width: 650px) {
  .modal-container-ext {
    max-height: calc(100vh - 125px);
    overflow-y: auto; } }

@media (max-width: 425px) {
  .span_h1 {
    text-align: center;
    background-image: none !important;
    padding: 0 30px !important;
    margin: 50px auto 0 auto !important;
    max-width: 100% !important; }
  .content-icon-mobile .icon-mobile .link-open-icons .icon-container img {
    max-width: 100px !important; }
  .content-icon-mobile .icon-mobile p {
    font-size: 14px !important; } }
*/
@media (max-width: 1100px) {
  .section-desktop > .container{
    transform: scale(0.9) translateY(0%); } }


@media (max-height: 799px) {
  .section-desktop > .container:first-child {
    transform: scale(0.9) translateY(0%); } }




@media (max-width: 1000px) {
      .section-desktop > .container:first-child {
        transform: scale(0.8) translateY(0%); } }
@media (max-height: 699px) {
  .section-desktop > .container:first-child {
    transform: scale(0.8) translateY(0%); } }


@media (max-width: 900px) {
      .section-desktop > .container:first-child {
        transform: scale(0.8) translateY(0%); } }

@media (max-height: 599px) {
  .section-desktop  {
    transform: scale(0.75) translateY(0%); } }

@media (max-width: 800px) {
      .section-desktop {
        transform: scale(0.75) translateY(0%); } }

@media (max-height: 499px) {
  .section-desktop  {
    transform: scale(0.65) translateY(0%); } }

@media (max-width: 700px) {
      .section-desktop  {
        transform: scale(0.65) translateY(0%); } }

@media (max-height: 399px) {
  .section-desktop  {
    transform: scale(0.50) translateY(0%); } }

@media (max-width: 600px) {
  .section-desktop {
    transform: scale(0.50) translateY(0%); } 
  }



